<div class="classroom-tabs" style='flex-wrap: wrap;'>

    {% if request.user == classroom.teacher %}

    <a href="{% url 'classroom:classroom_dashboard' classroom.id %}"
        class="{% if request.resolver_match.url_name == 'classroom_dashboard' %}active{% endif %}">
        Dashboard
    </a>

    {% else %}

    <a href="{% url 'classroom:student_dashboard' classroom.id %}"
        class="{% if request.resolver_match.url_name == 'student_dashboard' %}active{% endif %}">
        Dashboard
    </a>

    {% endif %}

    <a href="{% url 'classroom:classroom_stream' classroom.pk %}"
       class="{% if request.resolver_match.url_name == 'classroom_stream' %}active{% endif %}">
        Stream
    </a>

    <a href="{% url 'classroom:classroom_classwork' classroom.pk %}"
       class="{% if request.resolver_match.url_name == 'classroom_classwork' %}active{% endif %}">
        Classwork
    </a>

    <a href="{% url 'classroom:classroom_people' classroom.pk %}"
       class="{% if request.resolver_match.url_name == 'classroom_people' %}active{% endif %}">
        Members
    </a>
    {% if request.user == classroom.teacher %}
    <a href="{% url 'classroom:classroom_grades' classroom.id %}"
       class="{% if request.resolver_match.url_name == 'classroom_grades' %}active{% endif %}">
        Grades
    </a>
    
    <a href="{% url 'classroom:classroom_analytics' classroom.id %}"
       class="{% if request.resolver_match.url_name == 'classroom_analytics' %}active{% endif %}">
        Analytics
    </a>
    {% endif %}
</div>