<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

{% block extra_js %}{% endblock %}

<body>
    <!-- Top Navbar -->
    {% include "includes/navbar.html" %}

    <!-- Sidebar -->
    {% if user.is_authenticated %}
        {% include "includes/sidebar.html" %}
    {% endif %}

    <!-- Main Content -->
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
