{% extends "classroom/classroom_base.html" %}

{% block classroom_content %}

<div class="classroom-stream dashboard stream">

    <h2>Edit Announcement</h2>

    <form method="post">

        {% csrf_token %}

        {{ form.message }}

        <br>

        <button type="submit" class="classroom-dashboard-btn">

            Save Changes

        </button>

        <a href="{% url 'classroom:classroom_stream' classroom.id %}"
           class="classroom-dashboard-btn secondary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}